canvas {
  margin: 2px auto;
  border: 1px solid brown;
}

.screen-wrapper{
  width: 1208px;
  margin: auto;

}

@media (max-width:1220px) {
  .screen-wrapper{
    width: 602px;
  }
}

#gameScreen{
  display: none;
}