  
.progress{
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid white;
    color: #141414;
    text-align: center;
    height: 1vh;
}

#progress-barr-wrapper{
  /* width: 15vw; */
  display: flex;
  align-items: center;
}

.help-ico{
  width: 4vh;
  height: 4vh;
  background-image: url(/theme/img/help.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width:1000px) {
	.help-ico{
		max-width: 20px;
    max-height: 20px;
	}	
}

.progress-bar-loading{
    display: block;
    height: 100%;
    background: linear-gradient(90deg, rgb(253, 253, 100), rgb(196, 196, 29), rgb(240, 240, 3));
    background-size: 100% 100%;
}

.progress-bar-ready{
    display: block;
    height: 100%;
    background: linear-gradient(90deg,#9bff3d,#4aea6d 17%,#4bff78 34%,#01ff01 51%,#74ff3d 68%,#8aea4a 85%,#69ff4b);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}

#progress-barr-wrapper:hover{
    cursor: pointer;
}
    
@keyframes progress-animation{
  0%{
    background-position: 100%;
  }
  100%{
    background-position: 0;
  }
}